html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


#test_title {
	position: absolute;
	top: 100px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}



#debug_info {
	position: absolute;
	top: 200px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}


#menu {
    position: absolute;
    top: 400px;
    left: 0px;
    z-index: 10; /* Ensures it appears in front of the canvas */
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

#three_canvas{
  /*touch-action: none;*/
  z-index: 0; 
}